<a href="/?path={{this}}">
    <div class="file">
        <div class="image">
            <img src="gfx/files_icons/{{getExtention this}}.png" alt="{{getDirFileName this}}">
        </div>
        <div class="data">
            <p>{{getDirFileName this}}</p>

        </div>
        <form class="delete">

        </form>
    </div>
</a>


