<div class="folder">
    <div class="image">
        <img src="gfx/files_icons/folder.png" alt="{{getDirFileName this}}">
    </div>
    <div class="data">
        <p>{{getDirFileName this}}</p>
    </div>
    <form class="delete">

    </form>
</div>
