<main>
    <aside>
        <div class="manager-control">
            <div class="button">
               <div class="content">
                    <p>Rename file</p>
                </div>
                <div class="fold"></div>
            </div>
        </div>

    </aside>
    <div id="main-content">
        <form>
            <div class="line-counter"></div>
            <textarea name="text-content" id="text-content"></textarea>
            <button type="button">Save current state</button>
        </form>
    </div> 
</main>