<main>
    <aside>
        <form action="/addFile" method="post">
            <input type="hidden" name="test">
            <button type="submit">Test</button>
        </form>
    </aside>
    <div id="main-content">
        <div class="folders-area">

        </div>
        <div class="files-area">
            
        </div>
    </div> 
</main>

