<main>
    <aside>
        <div class="manager-control">
            <div class="button" onclick="switchDirDialog()">
               <div class="content">
                    <p>Add directorie</p>
                </div>
                <div class="fold"></div>
            </div>
            <div class="button" onclick="switchTxtFileDialog()">
                <div class="content">
                    <p>Add txt file</p>
                </div>
                <div class="fold"></div>
            </div>
        </div>

    </aside>
    <div id="main-content">
        <div class="manager-view">
            <h2>Directories</h2>
            <div class="dirs-area">
                {{#each storageData.dirs}}
                    {{> directorie}}
                {{/each}}
            </div>
            <h2>Files</h2>
            <div class="files-area">
                {{#each storageData.files}}
                    {{> file}}
                {{/each}}
            </div>
        </div>

    </div> 
</main>


<dialog id="fileDialog" class="home-dialogs">
    <form method="post" action="/addTxtFile" class="content">
        <h2>Txt File</h2>
        <div class="form-inputs">
            <label for="filename">File name</label>
            <input type="text" name="filename">
        </div>

        <div class="form-buttons">
            <button type="submit" onclick="switchTxtFileDialog()">Create</button>
            <button type="button" onclick="switchTxtFileDialog()">Cancel</button>
        </div>

    </form>
</dialog>

<dialog id="dirDialog" class="home-dialogs">
    <form method="post" action="/addDir" class="content">
        <h2>Directorie</h2>
        <div class="form-inputs">
            <label for="dirname">Directorie name</label>
            <input type="text" name="dirname">
        </div>
        <div class="form-buttons">
            <button type="submit" onclick="switchDirDialog()">Create</button>
            <button type="button" onclick="switchDirDialog()">Cancel</button>
        </div>
    </form>
</dialog>

<script src="js/home.js"></script>

