
<aside>
    <form action="/addFile" method="post">
        <input type="hidden" name="test">
        <button type="submit">Test</button>
    </form>
</aside>

<main>
    <div class="folders-area">

    </div>
    <div class="files-area">
        
    </div>
</main>