<main>
    <aside>
        <div class="manager-control">
         
        </div>
    </aside>
    <div id="main-content">
        <div class="filename-view">
            {{#each (pathFileFormat filePath)}}
                /{{this.short}}
            {{/each}}
        </div>
       
    </div> 
</main>

