dialog[open]
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 5;
    filter: none !important;
    background-color: transparent !important;
    border: none;
}
