.dir, .file
{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
}

.dir
{
    background-color: var(--purple-four);
}

.file
{
    background-color: var(--green-one);
}

.file > .image, .dir > .image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > .data, .dir > .data
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}



