:root
{
    --nav-color: #0A4D68;
    --aside-color: #088395;

    --lime-one: #569DAA;
    --lime-two: #05BFDB;
    --lime-three: #87CBB9;
    --lime-four: #00FFCA;

    --purple-one: #18122B;
    --purple-two: #393053;
    --purple-three: #443C68;
    --purple-four: #635985;

    --green-one: #245953;
    --green-two: #3A6351;

    --yellow-one: #FFEA20;
    --yellow-two: #F5EA5A;

    --red-one: #E74646;
    --red-two: #FA9884;


    --folders-gradient: black;
    --files-gradient: black;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-image: url("../gfx/body-texture.png");
    color: white;
}



a
{
    text-decoration: inherit;
    color: inherit;
}


ul, ol
{
    list-style-type: none;
}
