.manager-control
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em 0.75em;
}

.manager-control > .button
{
    display: flex;
    width: 100%;
    height: 3em;
    background: linear-gradient(0,var(--purple-two),var(--purple-three));
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    transition: 0.5s;
}

.manager-control > .button > .content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    color: white;
}

.manager-control > .button > .fold
{
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(0,var(--lime-two),var(--lime-three));
}

.manager-control > .button:hover
{
    transform: scale(105%);
    cursor: pointer;
}

.manager-control > .upload
{
    display: flex;
    width: 100%;
    height: 3em;
    background: linear-gradient(0,var(--yellow-one),var(--yellow-one));
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    transition: 0.5s; 
}

.manager-control > .upload > .content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    color: black;
}



.manager-control > .upload > .content > .uploadBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(0,var(--red-one),var(--red-two));
    transition: 0.5s;
}

.manager-control > .upload > .content > .uploadBtn:hover
{
    cursor: pointer;
}

.manager-control > .upload > .content > .uploadBtn > img
{
    height: 75%;
}

.manager-control > .upload > .content > .uploadBtn > p
{
    background-color: transparent;
    font-size: 1.25em;
}

.manager-control > .upload > .content > input[type="file"]
{
    height: fit-content;
    width: 75%;
    max-width: 12em;
    font-size: 0.75em;
    padding: 5px;
}
.manager-control > .upload > .content > input[type="file"]:hover
{
    cursor: pointer;
}

.manager-control > .upload > .content > input[type="file"]::file-selector-button
{
    display: none;
}



.manager-control > .upload > .fold
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(0,var(--red-one),var(--red-two));
    transition: 0.5s;

}


.manager-control > .upload > .fold:hover
{
    cursor: pointer;
    transform: scale(105%);
}


.manager-view
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 1em 2em;
}



.home-dialogs > .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    width: 40%;
    height: 40%;
    background: linear-gradient(90deg,var(--purple-one),var(--purple-two));
    border-radius: 15px;
    font-size: 2em;
    padding: 2em;
    overflow: hidden;
    color: white;
}

.home-dialogs > .content > .form-inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 15px;
    width: 100%;
    font-size: 1em;
}

.home-dialogs > .content > .form-inputs input
{
    width: 50%;
    height: 2rem;
    font-size: 0.5em;
    background-color: white;
}

.home-dialogs > .content > .form-buttons 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.home-dialogs > .content > .form-buttons > button
{
    width: 10em;
    height: 2.5em;
    font-size: 0.5em;
    border-radius: 15px;
}

.home-dialogs > .content > .form-buttons > button:hover
{
    cursor: pointer;
}

.dirs-area, .files-area
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}


.path-view
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 15px 25px;
    background-color: #222;
    border-bottom: 2px solid white;
}



@media only screen and (max-width:650px) 
{
    .manager-control > .button
    {
        height: 2em;
    }

    .home-dialogs > .content
    {
        width: 80%;
        height: 50%;
        min-width: 80vw;
        min-height: 80vh;
    }
    

    .home-dialogs > .content > .form-inputs input
    {
        width: 75%;
    }
}