.image-view
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 50px;
    overflow: auto;
}

#imageDiv
{
    background-size: contain;
    background-repeat: no-repeat;
}